.container {
    
    width: 600px;
    height: 50px;
    display: grid;
    grid-template-columns: repeat(7,1fr);
}
.item{
    background-color: green;
    border: 1px solid palegreen;
    font-size: 20px;
}
.motion{
    font-size: 60px;
}