
<svg class="respiration" (mouseover)="data=ecgData1;" width=2000px height=175px  style="border-style: solid;"  >
    </svg>
<svg class="respiration2" (mouseover)="data=ecgData2;" width=2000px height=175px  style="border-style: solid;" ></svg>
<svg class="respiration3" (mouseover)="data=ecgData3;" width=2000px height=175px  style="border-style: solid;" ></svg>
<svg class="respiration4" (mouseover)="data=ecgData4;" width=2000px height=175px  style="border-style: solid;" ></svg>
<svg class="respiration5" (mouseover)="data=ecgData5;" width=2000px height=175px  style="border-style: solid;" ></svg>
